In [4]:
import pandas as pd
from Source import data_chanel_map
from Source import forward_color
from Source import reverse_color
from Source import reverse_map
from Source import Definition

definition = Definition("./resource/tables.pdata")

class BinFile:
    def __init__(self, file) -> None:
        self.data = self.read_file(file)
        self.process_data = self.parser()

    def read_file(self, file):
        with open(file, 'r') as f:
            return [line.strip('\n') for line in f.readlines()]

    def parser(self):
        lines = []
        for line in self.data:
            # print(line)
            if 'Version' in line:
                version = line.split('\t')[1]
            elif 'Chemistry' in line:
                kit_name = line.split('\t')[1]
            elif 'Panel Name' in line:
                panel_name = line.split('\t')[1]
            elif 'Marker Name' in line:
                marker_name = line.split('\t')[1]
            elif 'BinSet' in line:
                continue
            else:
                # print(panel_name)
                line_base = line.split('\t')
                line_base.insert(0, marker_name)
                line_base.insert(0, panel_name)
                line_base.insert(0, kit_name)
                line_base.insert(0, version)
                lines.append(line_base)

        
        df = pd.DataFrame(lines, columns=['version', 'package', 'defined_panel', 'marker', 'base', 'min_bin', 'max_bin', 'color'])
        df = df[pd.notnull(df.color)]
        df['min_bin'] = round(df['min_bin'].astype('float'),2)
        df['max_bin'] = round(df['max_bin'].astype('float'),2)
        df['color'] = df['color'].apply(lambda x: x.lower())
        
        # conver yellow to black
        df['color'] = df['color'].apply(lambda x: 'black' if x  == 'yellow' else x)
        
        # update direction
        df['direction'] = df.apply(lambda row: self.update_direction(row['base'], row['color']), axis=1)

        # update is_forward
        df['is_forward'] = df['direction'].apply(lambda x: 1 if x == 'Forward' else 0)

        # update label
        df = df.merge(definition.marker_table[['marker', 'marker_label', 'gene']], how='left')

        # update panel
        df['panel'] = df['defined_panel'].apply(lambda x: f'S{x[-1]}')

        # update basetype

        def _base_type(marker, base):
            # print(marker)
            marker_data = definition.marker_table[definition.marker_table['marker'] ==  marker]
            print(marker_data)
            wildtype = marker_data['wildtype'].to_list()[0]

            return 'wildtype' if base == wildtype else 'mutant'


        df['basetype'] = df.apply(lambda row: _base_type(row['marker'], row['base']), axis=1)
                

        # intiate min intensity
        df['min_height'] = 1000

        # process duplicate
        # get max range file of bin setting if base duplicated
        # M1 20  25
        # M1 21  26
        # --> M1 20 26 

        tmp = df.groupby(['version', 'panel', 'marker', 'base', 'color'], as_index=False).agg(bin_min=('min_bin', 'min'), bin_max=('max_bin', 'max'))

        df = df.merge(tmp)

        df.drop(columns=['min_bin', 'max_bin'], inplace=True)
        df.rename(columns={'bin_min':'min_bin', 'bin_max':'max_bin'}, inplace=True)

        # commennt the above code if we want to get the max bin range instead

        df['binrange'] = df.min_bin - df.max_bin

        # get max bin range
        df = df.sort_values('binrange', ascending=False).groupby(['version', 'panel', 'marker', 'base', 'color'], as_index=False).first()

        df.sort_values(['panel', 'gene', 'marker', 'basetype', 'min_bin'], ascending=[True, True, True, False, True], inplace=True)
       
        # reorder colums
        df = df[['package', 'version', 'defined_panel', 'panel', 'gene', 'marker',  'marker_label', 'is_forward',  'direction', 
                'base', 'basetype', 'color',  'min_height', 'min_bin', 'max_bin']]


        # check status marker

        markers = df[['panel','marker', 'direction']].drop_duplicates()
        count = markers.groupby('marker').size()

        if any(count[count > 1]):
            error_markers = "; ".join(count[count > 1].index)
            raise ValueError(f'Marker(s) info not consistent [{error_markers}]')
        
        else:
            return df
    
    def update_direction(self, base, color):
        return 'Forward' if forward_color.get(base) == color else 'Reverse'

In [8]:
bin_file = './validation_panels/panels/[2021.08 └┌╖ß] PGx-NP_PGx-NP_bins_lam_updated.txt'
bin = BinFile(bin_file)
bin.process_data.to_excel('./validation_panels/PGx_NP_bin_seting_table_new_form.xlsx', index=False)
data = bin.process_data

        marker star_allele aa_change nt_change       rsid wildtype mutant  \
20  CYP2D6_001         *14     G169R   1758G>A  rs5030865        G      A

    gene_id  marker_id    gene marker_label
20       14         21  CYP2D6   CYP2D6 *14
        marker star_allele aa_change nt_change       rsid wildtype mutant  \
20  CYP2D6_001         *14     G169R   1758G>A  rs5030865        G      A

    gene_id  marker_id    gene marker_label
20       14         21  CYP2D6   CYP2D6 *14
        marker star_allele aa_change nt_change       rsid wildtype mutant  \
21  CYP2D6_002        *10B      P34S    100C>T  rs1065852        C      T

    gene_id  marker_id    gene marker_label
21       14         22  CYP2D6  CYP2D6 *10B
        marker star_allele aa_change nt_change       rsid wildtype mutant  \
21  CYP2D6_002        *10B      P34S    100C>T  rs1065852        C      T

    gene_id  marker_id    gene marker_label
21       14         22  CYP2D6  CYP2D6 *10B
        marker star_allele aa_change nt_change       rsid wildtype mutant  \
22  CYP2D6_003         *49     F120I   1611T>A  rs1135822        T      A

    gene_id  marker_id    gene marker_label
22       14         23  CYP2D6   CYP2D6 *49
        marker star_allele aa_change nt_change       rsid wildtype mutant  \
22  CYP2D6_003         *49     F120I   1611T>A  rs1135822        T      A

    gene_id  marker_id    gene marker_label
22       14         23  CYP2D6   CYP2D6 *49
        marker star_allele       aa_change      nt_change        rsid  \
23  CYP2D6_004         *21  267_frameshift  2573_2574insC  rs72549352

   wildtype mutant  gene_id  marker_id    gene marker_label
23        G      C       14         24  CYP2D6   CYP2D6 *21
        marker star_allele       aa_change      nt_change        rsid  \
23  CYP2D6_004         *21  267_frameshift  2573_2574insC  rs72549352

   wildtype mutant  gene_id  marker_id    gene marker_label
23        G      C       14         24  CYP2D6   CYP2D6 *21
        marker star_allele        aa_change nt_change        rsid wildtype  \
24  CYP2D6_005         *41  Splicing_defect   2988G>A  rs28371725        G

   mutant  gene_id  marker_id    gene marker_label
24      A       14         25  CYP2D6   CYP2D6 *41
        marker star_allele        aa_change nt_change        rsid wildtype  \
24  CYP2D6_005         *41  Splicing_defect   2988G>A  rs28371725        G

   mutant  gene_id  marker_id    gene marker_label
24      A       14         25  CYP2D6   CYP2D6 *41
        marker star_allele aa_change nt_change        rsid wildtype mutant  \
25  CYP2D6_006         *52     E418K   3877G>A  rs28371733        G      A

    gene_id  marker_id    gene marker_label
25       14         26  CYP2D6   CYP2D6 *52
        marker star_allele aa_change nt_change        rsid wildtype mutant  \
25  CYP2D6_006         *52     E418K   3877G>A  rs28371733        G      A

    gene_id  marker_id    gene marker_label
25       14         26  CYP2D6   CYP2D6 *52
        marker star_allele      aa_change               nt_change rsid  \
26  CYP2D6_007         *18  468_470dupVPT  4125_4133_dupGTGCCCACT    -

   wildtype mutant  gene_id  marker_id    gene marker_label
26        G      T       14         27  CYP2D6   CYP2D6 *18
        marker star_allele      aa_change               nt_change rsid  \
26  CYP2D6_007         *18  468_470dupVPT  4125_4133_dupGTGCCCACT    -

   wildtype mutant  gene_id  marker_id    gene marker_label
26        G      T       14         27  CYP2D6   CYP2D6 *18
        marker star_allele aa_change nt_change     rsid wildtype mutant  \
27  CYP2D6_008          *2     R296C   2850C>T  rs16947        C      T

    gene_id  marker_id    gene marker_label
27       14         28  CYP2D6    CYP2D6 *2
        marker star_allele aa_change nt_change     rsid wildtype mutant  \
27  CYP2D6_008          *2     R296C   2850C>T  rs16947        C      T

    gene_id  marker_id    gene marker_label
27       14         28  CYP2D6    CYP2D6 *2
        marker star_allele aa_change  nt_change rsid wildtype mutant  gene_id  \
28  CYP2D6_009         *60     S183X  1887insTA    -        G      A       14

    marker_id    gene marker_label
28         29  CYP2D6   CYP2D6 *60
        marker star_allele aa_change  nt_change rsid wildtype mutant  gene_id  \
28  CYP2D6_009         *60     S183X  1887insTA    -        G      A       14

    marker_id    gene marker_label
28         29  CYP2D6   CYP2D6 *60
        marker star_allele aa_change nt_change rsid wildtype mutant  gene_id  \
29  CYP2D6_010          *5         -  Deletion    -        A      G       14

    marker_id    gene marker_label
29         30  CYP2D6    CYP2D6 *5
        marker star_allele aa_change nt_change rsid wildtype mutant  gene_id  \
29  CYP2D6_010          *5         -  Deletion    -        A      G       14

    marker_id    gene marker_label
29         30  CYP2D6    CYP2D6 *5
       marker star_allele aa_change nt_change rsid wildtype mutant  gene_id  \
54  HLA-A_004           -         -  593T>C/A    -        T    C/A       25

    marker_id   gene    marker_label
54         55  HLA-A  HLA-A 593T>C/A
       marker star_allele aa_change nt_change rsid wildtype mutant  gene_id  \
54  HLA-A_004           -         -  593T>C/A    -        T    C/A       25

    marker_id   gene    marker_label
54         55  HLA-A  HLA-A 593T>C/A
       marker star_allele aa_change nt_change rsid wildtype mutant  gene_id  \
54  HLA-A_004           -         -  593T>C/A    -        T    C/A       25

    marker_id   gene    marker_label
54         55  HLA-A  HLA-A 593T>C/A
       marker star_allele aa_change nt_change rsid wildtype mutant  gene_id  \
55  HLA-B_001           -         -    384C>G    -        C      G       26

    marker_id   gene  marker_label
55         56  HLA-B  HLA-B 384C>G
       marker star_allele aa_change nt_change rsid wildtype mutant  gene_id  \
55  HLA-B_001           -         -    384C>G    -        C      G       26

    marker_id   gene  marker_label
55         56  HLA-B  HLA-B 384C>G
       marker star_allele aa_change nt_change rsid wildtype mutant  gene_id  \
56  HLA-B_002           -         -    667G>A    -        G      A       26

    marker_id   gene  marker_label
56         57  HLA-B  HLA-B 667G>A
       marker star_allele aa_change nt_change rsid wildtype mutant  gene_id  \
56  HLA-B_002           -         -    667G>A    -        G      A       26

    marker_id   gene  marker_label
56         57  HLA-B  HLA-B 667G>A
       marker star_allele aa_change nt_change rsid wildtype mutant  gene_id  \
57  HLA-B_003           -         -   2156A>T    -        A      T       26

    marker_id   gene   marker_label
57         58  HLA-B  HLA-B 2156A>T
       marker star_allele aa_change nt_change rsid wildtype mutant  gene_id  \
57  HLA-B_003           -         -   2156A>T    -        A      T       26

    marker_id   gene   marker_label
57         58  HLA-B  HLA-B 2156A>T
       marker star_allele aa_change nt_change rsid wildtype mutant  gene_id  \
51  HLA-A_001           -         -   368G>A     -        G      A       25

    marker_id   gene   marker_label
51         52  HLA-A  HLA-A 368G>A
       marker star_allele aa_change nt_change rsid wildtype mutant  gene_id  \
51  HLA-A_001           -         -   368G>A     -        G      A       25

    marker_id   gene   marker_label
51         52  HLA-A  HLA-A 368G>A
       marker star_allele aa_change nt_change rsid wildtype mutant  gene_id  \
52  HLA-A_002           -         -    954T>C    -        T      C       25

    marker_id   gene  marker_label
52         53  HLA-A  HLA-A 954T>C
       marker star_allele aa_change nt_change rsid wildtype mutant  gene_id  \
52  HLA-A_002           -         -    954T>C    -        T      C       25

    marker_id   gene  marker_label
52         53  HLA-A  HLA-A 954T>C
       marker star_allele aa_change nt_change rsid wildtype mutant  gene_id  \
53  HLA-A_003           -         -    536G>A    -        G      A       25

    marker_id   gene  marker_label
53         54  HLA-A  HLA-A 536G>A
       marker star_allele aa_change nt_change rsid wildtype mutant  gene_id  \
53  HLA-A_003           -         -    536G>A    -        G      A       25

    marker_id   gene  marker_label
53         54  HLA-A  HLA-A 536G>A
        marker star_allele        aa_change     nt_change      rsid wildtype  \
39  CYP3A5_001          *3  splicing defect  c.219-237A>G  rs776746        A

   mutant  gene_id  marker_id    gene marker_label
39      G       16         40  CYP3A5    CYP3A5 *3
        marker star_allele        aa_change     nt_change      rsid wildtype  \
39  CYP3A5_001          *3  splicing defect  c.219-237A>G  rs776746        A

   mutant  gene_id  marker_id    gene marker_label
39      G       16         40  CYP3A5    CYP3A5 *3
         marker star_allele aa_change  nt_change        rsid wildtype mutant  \
13  CYP2C19_001         *17     5'UTR  c.-806C>T  rs12248560        C      T

    gene_id  marker_id     gene marker_label
13       12         14  CYP2C19  CYP2C19 *17
         marker star_allele aa_change  nt_change        rsid wildtype mutant  \
13  CYP2C19_001         *17     5'UTR  c.-806C>T  rs12248560        C      T

    gene_id  marker_id     gene marker_label
13       12         14  CYP2C19  CYP2C19 *17
         marker star_allele aa_change  nt_change        rsid wildtype mutant  \
13  CYP2C19_001         *17     5'UTR  c.-806C>T  rs12248560        C      T

    gene_id  marker_id     gene marker_label
13       12         14  CYP2C19  CYP2C19 *17
         marker star_allele aa_change  nt_change        rsid wildtype mutant  \
13  CYP2C19_001         *17     5'UTR  c.-806C>T  rs12248560        C      T

    gene_id  marker_id     gene marker_label
13       12         14  CYP2C19  CYP2C19 *17
         marker star_allele aa_change  nt_change        rsid wildtype mutant  \
13  CYP2C19_001         *17     5'UTR  c.-806C>T  rs12248560        C      T

    gene_id  marker_id     gene marker_label
13       12         14  CYP2C19  CYP2C19 *17
         marker star_allele aa_change  nt_change        rsid wildtype mutant  \
13  CYP2C19_001         *17     5'UTR  c.-806C>T  rs12248560        C      T

    gene_id  marker_id     gene marker_label
13       12         14  CYP2C19  CYP2C19 *17
        marker star_allele aa_change   nt_change        rsid wildtype mutant  \
38  CYP3A4_002         *22         -  g.15389C>T  rs35599367        C      T

    gene_id  marker_id    gene marker_label
38       15         39  CYP3A4   CYP3A4 *22
        marker star_allele aa_change   nt_change        rsid wildtype mutant  \
38  CYP3A4_002         *22         -  g.15389C>T  rs35599367        C      T

    gene_id  marker_id    gene marker_label
38       15         39  CYP3A4   CYP3A4 *22
        marker star_allele aa_change   nt_change        rsid wildtype mutant  \
38  CYP3A4_002         *22         -  g.15389C>T  rs35599367        C      T

    gene_id  marker_id    gene marker_label
38       15         39  CYP3A4   CYP3A4 *22
        marker star_allele aa_change   nt_change        rsid wildtype mutant  \
38  CYP3A4_002         *22         -  g.15389C>T  rs35599367        C      T

    gene_id  marker_id    gene marker_label
38       15         39  CYP3A4   CYP3A4 *22
        marker star_allele aa_change  nt_change       rsid wildtype mutant  \
16  CYP2C9_001          *3     I359L  c.1075A>C  rs1057910        A      C

    gene_id  marker_id    gene marker_label
16       13         17  CYP2C9    CYP2C9 *3
        marker star_allele aa_change  nt_change       rsid wildtype mutant  \
16  CYP2C9_001          *3     I359L  c.1075A>C  rs1057910        A      C

    gene_id  marker_id    gene marker_label
16       13         17  CYP2C9    CYP2C9 *3
        marker star_allele aa_change nt_change        rsid wildtype mutant  \
17  CYP2C9_002         *13      L90P  c.269T>C  rs72558187        T      C

    gene_id  marker_id    gene marker_label
17       13         18  CYP2C9   CYP2C9 *13
        marker star_allele aa_change nt_change        rsid wildtype mutant  \
17  CYP2C9_002         *13      L90P  c.269T>C  rs72558187        T      C

    gene_id  marker_id    gene marker_label
17       13         18  CYP2C9   CYP2C9 *13
        marker star_allele aa_change nt_change        rsid wildtype mutant  \
18  CYP2C9_003         *14     R125H  c.374G>A  rs72558189        G      A

    gene_id  marker_id    gene marker_label
18       13         19  CYP2C9   CYP2C9 *14
        marker star_allele aa_change nt_change        rsid wildtype mutant  \
18  CYP2C9_003         *14     R125H  c.374G>A  rs72558189        G      A

    gene_id  marker_id    gene marker_label
18       13         19  CYP2C9   CYP2C9 *14
         marker star_allele aa_change nt_change       rsid wildtype mutant  \
15  CYP2C19_003          *3     W212X  c.636G>A  rs4986893        G      A

    gene_id  marker_id     gene marker_label
15       12         16  CYP2C19   CYP2C19 *3
         marker star_allele aa_change nt_change       rsid wildtype mutant  \
15  CYP2C19_003          *3     W212X  c.636G>A  rs4986893        G      A

    gene_id  marker_id     gene marker_label
15       12         16  CYP2C19   CYP2C19 *3
        marker star_allele aa_change nt_change       rsid wildtype mutant  \
11  CYP2B6_001          *4     K262R  18053A>G  rs2279343        A      G

    gene_id  marker_id    gene marker_label
11       11         12  CYP2B6    CYP2B6 *4
        marker star_allele aa_change nt_change       rsid wildtype mutant  \
11  CYP2B6_001          *4     K262R  18053A>G  rs2279343        A      G

    gene_id  marker_id    gene marker_label
11       11         12  CYP2B6    CYP2B6 *4
        marker star_allele aa_change nt_change       rsid wildtype mutant  \
12  CYP2B6_002          *9     Q172H  15631G>T  rs3745274        G      T

    gene_id  marker_id    gene marker_label
12       11         13  CYP2B6    CYP2B6 *9
        marker star_allele aa_change nt_change       rsid wildtype mutant  \
12  CYP2B6_002          *9     Q172H  15631G>T  rs3745274        G      T

    gene_id  marker_id    gene marker_label
12       11         13  CYP2B6    CYP2B6 *9
        marker star_allele aa_change nt_change       rsid wildtype mutant  \
19  CYP2C9_004          *2     R144C  c.430C>T  rs1799853        C      T

    gene_id  marker_id    gene marker_label
19       13         20  CYP2C9    CYP2C9 *2
        marker star_allele aa_change nt_change       rsid wildtype mutant  \
19  CYP2C9_004          *2     R144C  c.430C>T  rs1799853        C      T

    gene_id  marker_id    gene marker_label
19       13         20  CYP2C9    CYP2C9 *2
         marker star_allele        aa_change nt_change       rsid wildtype  \
14  CYP2C19_002          *2  splicing defect  c.681G>A  rs4244285        G

   mutant  gene_id  marker_id     gene marker_label
14      A       12         15  CYP2C19   CYP2C19 *2
         marker star_allele        aa_change nt_change       rsid wildtype  \
14  CYP2C19_002          *2  splicing defect  c.681G>A  rs4244285        G

   mutant  gene_id  marker_id     gene marker_label
14      A       12         15  CYP2C19   CYP2C19 *2
       marker star_allele aa_change      nt_change    rsid wildtype mutant  \
58  HTR1A_001           -         -  g.63962738C>G  rs6295        C      G

    gene_id  marker_id   gene  marker_label
58       27         59  HTR1A  HTR1A rs6295
       marker star_allele aa_change      nt_change    rsid wildtype mutant  \
58  HTR1A_001           -         -  g.63962738C>G  rs6295        C      G

    gene_id  marker_id   gene  marker_label
58       27         59  HTR1A  HTR1A rs6295
       marker star_allele aa_change    nt_change       rsid wildtype mutant  \
60  HTR2C_001           -         -  g.324497C>G  rs1414334        C      G

    gene_id  marker_id   gene     marker_label
60       29         61  HTR2C  HTR2C rs1414334
       marker star_allele aa_change    nt_change       rsid wildtype mutant  \
60  HTR2C_001           -         -  g.324497C>G  rs1414334        C      G

    gene_id  marker_id   gene     marker_label
60       29         61  HTR2C  HTR2C rs1414334
     marker star_allele aa_change nt_change    rsid wildtype mutant  gene_id  \
8  COMT_001           -     V158M  c.472G>A  rs4680        G      A        8

   marker_id  gene marker_label
8          9  COMT  COMT rs4680
     marker star_allele aa_change nt_change    rsid wildtype mutant  gene_id  \
8  COMT_001           -     V158M  c.472G>A  rs4680        G      A        8

   marker_id  gene marker_label
8          9  COMT  COMT rs4680
      marker star_allele aa_change  nt_change       rsid wildtype mutant  \
1  ABCB1_002           -    I1145I  c.3435A>G  rs1045642        A      G

   gene_id  marker_id   gene     marker_label
1        1          2  ABCB1  ABCB1 rs1045642
      marker star_allele aa_change  nt_change       rsid wildtype mutant  \
1  ABCB1_002           -    I1145I  c.3435A>G  rs1045642        A      G

   gene_id  marker_id   gene     marker_label
1        1          2  ABCB1  ABCB1 rs1045642
      marker star_allele aa_change        nt_change       rsid wildtype  \
41  DRD2_001           -         -  c.-486_-485insC  rs1799732        -

   mutant  gene_id  marker_id  gene    marker_label
41      G       18         42  DRD2  DRD2 rs1799732
      marker star_allele aa_change        nt_change       rsid wildtype  \
41  DRD2_001           -         -  c.-486_-485insC  rs1799732        -

   mutant  gene_id  marker_id  gene    marker_label
41      G       18         42  DRD2  DRD2 rs1799732
      marker star_allele aa_change    nt_change       rsid wildtype mutant  \
0  ABCB1_001           -    A893ST  c.2677A>C/T  rs2032582        A    C/T

   gene_id  marker_id   gene     marker_label
0        1          1  ABCB1  ABCB1 rs2032582
      marker star_allele aa_change    nt_change       rsid wildtype mutant  \
0  ABCB1_001           -    A893ST  c.2677A>C/T  rs2032582        A    C/T

   gene_id  marker_id   gene     marker_label
0        1          1  ABCB1  ABCB1 rs2032582
      marker star_allele aa_change    nt_change       rsid wildtype mutant  \
0  ABCB1_001           -    A893ST  c.2677A>C/T  rs2032582        A    C/T

   gene_id  marker_id   gene     marker_label
0        1          1  ABCB1  ABCB1 rs2032582
      marker star_allele aa_change nt_change    rsid wildtype mutant  gene_id  \
42  DRD3_001           -       G9S   c.25G>A  rs6280        G      A       19

    marker_id  gene marker_label
42         43  DRD3  DRD3 rs6280
      marker star_allele aa_change nt_change    rsid wildtype mutant  gene_id  \
42  DRD3_001           -       G9S   c.25G>A  rs6280        G      A       19

    marker_id  gene marker_label
42         43  DRD3  DRD3 rs6280
       marker star_allele aa_change       nt_change       rsid wildtype  \
70  SCN1A_001           -         -  g.166053034C>T  rs3812718        C

   mutant  gene_id  marker_id   gene     marker_label
70      T       37         71  SCN1A  SCN1A rs3812718
       marker star_allele aa_change       nt_change       rsid wildtype  \
70  SCN1A_001           -         -  g.166053034C>T  rs3812718        C

   mutant  gene_id  marker_id   gene     marker_label
70      T       37         71  SCN1A  SCN1A rs3812718
      marker star_allele aa_change  nt_change       rsid wildtype mutant  \
6  ANKK1_001           -     E713K  c.2137G>A  rs1800497        G      A

   gene_id  marker_id   gene     marker_label
6        6          7  ANKK1  ANKK1 rs1800497
      marker star_allele aa_change  nt_change       rsid wildtype mutant  \
6  ANKK1_001           -     E713K  c.2137G>A  rs1800497        G      A

   gene_id  marker_id   gene     marker_label
6        6          7  ANKK1  ANKK1 rs1800497
       marker star_allele aa_change   nt_change       rsid wildtype mutant  \
45  EPHX1_001           -   H139R/L  c.416A>G/T  rs2234922        A      G

    gene_id  marker_id   gene     marker_label

In [7]:
data

,package,version,defined_panel,panel,gene,marker,marker_label,is_forward,direction,base,basetype,color,min_height,min_bin,max_bin
1,PGx-NP,GM v 4.1,N-SPM01,S1,CYP2D6,CYP2D6_001,CYP2D6 *14,1,Forward,G,wildtype,blue,1000,25.0,35.0
0,PGx-NP,GM v 4.1,N-SPM01,S1,CYP2D6,CYP2D6_001,CYP2D6 *14,1,Forward,A,mutant,green,1000,27.0,36.0
2,PGx-NP,GM v 4.1,N-SPM01,S1,CYP2D6,CYP2D6_002,CYP2D6 *10B,1,Forward,C,wildtype,black,1000,28.0,38.0
3,PGx-NP,GM v 4.1,N-SPM01,S1,CYP2D6,CYP2D6_002,CYP2D6 *10B,1,Forward,T,mutant,red,1000,31.0,37.0
5,PGx-NP,GM v 4.1,N-SPM01,S1,CYP2D6,CYP2D6_003,CYP2D6 *49,0,Reverse,T,wildtype,green,1000,37.0,44.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,PGx-NP,GM v 4.1,N-SPM06,S6,MC4R,MC4R_001,MC4R rs489693,1,Forward,T,mutant,red,1000,76.0,84.0
109,PGx-NP,GM v 4.1,N-SPM06,S6,UGT1A4,UGT1A4_001,UGT1A4 142T>G,1,Forward,T,wildtype,red,1000,63.5,69.0
108,PGx-NP,GM v 4.1,N-SPM06,S6,UGT1A4,UGT1A4_001,UGT1A4 142T>G,1,Forward,G,mutant,blue,1000,61.0,67.0
110,PGx-NP,GM v 4.1,N-SPM06,S6,UGT2B15,UGT2B15_001,UGT2B15 253G>T,1,Forward,G,wildtype,blue,1000,51.8,57.0
111,PGx-NP,GM v 4.1,N-SPM06,S6,UGT2B15,UGT2B15_001,UGT2B15 253G>T,1,Forward,T,mutant,red,1000,52.0,58.0

In [6]:
df = data.groupby(['version', 'panel', 'marker', 'base', 'color'], as_index=False).agg(bin_min=('min_bin', 'min'), bin_max=('max_bin', 'max'))

In [7]:
df.head()

    version panel      marker base  color  bin_min  bin_max
0  GM v 4.1    S1  CYP2D6_001    A  green     27.0     36.0
1  GM v 4.1    S1  CYP2D6_001    G   blue     25.0     35.0
2  GM v 4.1    S1  CYP2D6_002    C  black     28.0     38.0
3  GM v 4.1    S1  CYP2D6_002    T    red     31.0     37.0
4  GM v 4.1    S1  CYP2D6_003    A    red     39.0     45.0

In [17]:
data = data.sort_values(['panel', 'gene', 'marker', 'basetype', 'min_bin'], ascending=[True, True, True, False, True])

In [6]:
bin.process_data

,package,version,defined_panel,panel,gene,marker,marker_label,is_forward,direction,base,basetype,color,min_height,min_bin,max_bin
1,PGx-NP,GM v 4.1,N-SPM01,S1,CYP2D6,CYP2D6_001,CYP2D6 *14,1,Forward,G,wildtype,blue,1000,25.0,35.0
0,PGx-NP,GM v 4.1,N-SPM01,S1,CYP2D6,CYP2D6_001,CYP2D6 *14,1,Forward,A,mutant,green,1000,27.0,36.0
2,PGx-NP,GM v 4.1,N-SPM01,S1,CYP2D6,CYP2D6_002,CYP2D6 *10B,1,Forward,C,wildtype,black,1000,28.0,38.0
3,PGx-NP,GM v 4.1,N-SPM01,S1,CYP2D6,CYP2D6_002,CYP2D6 *10B,1,Forward,T,mutant,red,1000,31.0,37.0
5,PGx-NP,GM v 4.1,N-SPM01,S1,CYP2D6,CYP2D6_003,CYP2D6 *49,0,Reverse,T,wildtype,green,1000,37.0,44.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,PGx-NP,GM v 4.1,N-SPM06,S6,CYP1A2,CYP1A2_001,CYP1A2 *1F,1,Forward,A,mutant,green,1000,68.0,75.0
93,PGx-NP,GM v 4.1,N-SPM06,S6,CYP1A2,CYP1A2_001,CYP1A2 *1F,1,Forward,C,wildtype,black,1000,68.5,75.0
106,PGx-NP,GM v 4.1,N-SPM06,S6,MC4R,MC4R_001,MC4R rs489693,1,Forward,C,wildtype,black,1000,76.0,84.0
105,PGx-NP,GM v 4.1,N-SPM06,S6,MC4R,MC4R_001,MC4R rs489693,1,Forward,A,mutant,green,1000,76.0,83.0
107,PGx-NP,GM v 4.1,N-SPM06,S6,MC4R,MC4R_001,MC4R rs489693,1,Forward,T,mutant,red,1000,76.0,84.0

In [9]:

from Source import generate_markers
import pandas as pd
data = pd.read_excel("validation_panels/PGx_NP_bin_seting_table_new_form.xlsx")
markers = generate_markers(data, True)

In [2]:
markers['CYP2D6_001'].alleles[0].defined_color

'green'

In [2]:
markers['CYP2D6_001'].alleles[0].color

'green'